{{#if mtg.isLoading}}
  {{#if show-spinner}}
    <div full-height layout layout-align="center center">
      {{paper-progress-circular}}
    </div>
  {{/if}}
  {{yield to="inverse"}}
{{else}}
  {{yield}}
{{/if}}
