:root {
  --dark-bg: #222;
  --dark-active: #555;
  --dark-fg: #fff;
  --light-bg: #fff;
  --light-active: #ccc;
  --light-fg: #222;
  --brand-a: #fc4a1a;
  --brand-b: #f7b733;
  --text-on-brand-a: #fff;
  --text-on-brand-b: #222;
}
