.hoverable-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px rgba(64, 64, 64, 0.6);
    border-radius: 12px;
    overflow: hidden;
    z-index: 100;

    &--visible {
        display: block;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
    }
}