@import './globals';
@import './site-header';
@import './visual-decklist';
@import './playtest-card';
@import './stream-view';
@import './triplets';

* {
  box-sizing: border-box;
  text-decoration-skip-ink: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

main {
  padding: 1em;
}

footer {
  padding: 1em;
}

.playtest-cards {
  font-size: 0;
}

.playtest-card-component {
  display: contents;
}

.problem-cards {
  max-width: 432px;
}

@media print {
  header,
  footer,
  main > :not(.printable) {
    display: none !important;
  }
}

.triplets-form {
  display: grid;
  grid-template-columns: 1fr 36px 1fr;
  grid-gap: 1em;
  margin: 1em;

  &__field {
    input {
      display: block;
      width: 100%;
    }

    &--error {
      color: red;

      input {
        color: black;
        border-color: red;
      }
    }

    &--primary {
      grid-column: 1 / -1;
    }
  }

  &__swap {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding-top: 12px;
  }
}
