{{#paper-content class="md-padding"}}
  <h3>Edit Decklist</h3>
  {{#decklist-editor as |form|}}
    {{#paper-button primary=true disabled=form.isInvalid onClick=(transition-to "playtest-cards.print")}}Print Playtest Cards{{/paper-button}}
  {{/decklist-editor}}
{{/paper-content}}

