{{#paper-content class="md-padding"}}
  {{#if decklist.problemCards}}
    {{#paper-card class="problem-cards" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}There was a problem{{/text.headline}}
          {{#text.subhead}}The following cards were not found:{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <ul>
          {{#each decklist.problemCards as |card|}}
            <li>
              {{card.name}}
            </li>
          {{/each}}
        </ul>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button
          primary=true
          onClick=(transition-to "playtest-cards.index")
        }}
          Edit Decklist
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/if}}
  <div class="options">
    {{#paper-switch value=showBasicLands onChange=(action (mut showBasicLands))
    }}
      {{#unless showBasicLands}}
        Not
      {{/unless}}
      Showing Basic Lands
    {{/paper-switch}}
  </div>
  <div class="playtest-cards printable">
    {{#each
      (if
        showBasicLands
        decklist.desiredCards
        decklist.desiredCardsWithoutBasicLands
      ) as |card|
    }}
      {{#each (repeat card.count) as |i|}}
        {{playtest-card name=card.name print=true width=223 height=312}}
      {{/each}}
    {{/each}}
  </div>
{{/paper-content}}