{{#if decklist.problemCards}}
  <h4>
    There was a problem
  </h4>
  <p>
    The following cards were not found:
  </p>
  <ul>
    {{#each decklist.problemCards as |card|}}
      <li>
        {{card.name}}
      </li>
    {{/each}}
  </ul>
  {{#link-to "playtest-cards.index"}}
    Edit Decklist
  {{/link-to}}
{{/if}}
<div class="options">
  <label>
    <input
      type="checkbox"
      checked="showBasicLands"
      onchange={{action (toggle "showBasicLands" this)}}
     />

    {{#unless showBasicLands}}
      Not
    {{/unless}}
    Showing Basic Lands
  </label>
</div>
<div class="playtest-cards printable">
  {{#each
    (if
      showBasicLands
      decklist.desiredCards
      decklist.desiredCardsWithoutBasicLands
    ) as |card|
  }}
    {{#each (repeat card.count) as |i|}}
      {{playtest-card name=card.name print=true width=223 height=312}}
    {{/each}}
  {{/each}}
</div>