<h1>
  MTG Tools
</h1>
<ul>
  <li>
    {{#link-to "index"}}
      Introduction
    {{/link-to}}
  </li>
  <li>
    {{#link-to "share"}}
      Share a Deck
    {{/link-to}}
  </li>
  <li>
    {{#link-to "playtest-cards"}}
      Playtest Card Printer
    {{/link-to}}
  </li>
  <li>
    {{#link-to "triplets"}}
      Triplets Generator
    {{/link-to}}
  </li>
  <li>
    {{#link-to "stream-view"}}
      Stream View
    {{/link-to}}
  </li>
</ul>
{{outlet}}