{{#paper-toolbar class="main-toolbar"}}
  {{#paper-toolbar-tools}}
    <div hide-gt-xs>
      {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
        {{#paper-button iconButton=true onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
    </div>
    <h2>
      Kerrick&rsquo;s Magic: The Gathering Tools
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  <h3>Roadmap</h3>
  <h4>Deck Diff</h4>
  <p>I&rsquo;d like to create a tool that makes it easy to compare two decklists.</p>
  <h4>Decklist Cleanup Tool</h4>
  <p>
    Since I&rsquo;m going to have to make my deck parser robust for these other
    tools, it would make sense to let you paste a decklist and output it in a
    number of formats for different MTG software tools.
  </p>
  <h4>Stream View</h4>
  <p>
    In the Hearthstone community on Twitch, it&rsquo;s common for streamers to
    put their decklists on stream because HS has a great visual style for lists.
    <a href="https://www.youtube.com/watch?v=YesY90Goam8">MTGGoldfish&rsquo;s
    videos have these too</a>. I want to add a tool that creates those
    visualizations just by pasting in the decklist.
  </p>
  <h4>Quick Paste</h4>
  <p>
    It should be relatively simple to encode a decklist in the URL, so you can
    quickly paste a decklist and share it with your friends.
  </p>
  <h4>Integrating all of it</h4>
  <p>
    It&rsquo;s feasible you might want to use any of the above tools with your
    decklist, so there should probably be a way to share a decklist across all
    of them without re-typing or re-pasting it.
  </p>
  <h4>Other Stuff</h4>
  <p>Do you have more cool ideas? Tweet <a href="https://twitter.com/KerrickLong">@KerrickLong</a>!</p>
{{/paper-content}}
