{{#paper-toolbar class="main-toolbar"}}
  {{#paper-toolbar-tools}}
    <div hide-gt-xs>
      {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
        {{#paper-button iconButton=true onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
    </div>
    <h2>
      Kerrick&rsquo;s Magic: The Gathering Tools
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  <h3>Roadmap</h3>
  <h4>Playtest Card Printer</h4>
  <p>This could use a bit of polishing.</p>
  <ul>
    <li>A way to edit the names of cards that don&rsquo;t quite fit.</li>
  </ul>
  <h4>Deck Diff</h4>
  <p>I&rsquo;d like to create a tool that makes it easy to compare two decklists.</p>
  <h4>Other Stuff</h4>
  <p>Do you have more cool ideas? Tweet <a href="https://twitter.com/KerrickLong">@KerrickLong</a>!</p>
{{/paper-content}}
