<h2>
  Playtest Card Printer
</h2>
{{#if isInPrintView}}
  {{#link-to "playtest-cards.index" class="button button--secondary"}}
    Edit Decklist
  {{/link-to}}
  <button onclick={{action "print"}} class="button button--primary">
    Print
  </button>
{{/if}}
{{#mtg-loaded}}{{outlet}}{{/mtg-loaded}}