<h2>
  Playtest Card Printer
</h2>
{{#if isInPrintView}}
  {{#link-to "playtest-cards.index"}}
    (edit)
  {{/link-to}}
  <button onclick={{action "print"}}>
    Print
  </button>
{{/if}}
{{#mtg-loaded}}{{outlet}}{{/mtg-loaded}}