<h2>
  Stream View
</h2>
{{#mtg-loaded}}
  {{decklist-editor}}
  <div class="stream-view-items">
    {{#each (sort-cards decklist.mtgJsonMaindeckCards) as |card|}}
      {{stream-view-card card=card}}
    {{/each}}
    <br />
    {{! TODO: Better division }}
    {{#each (sort-cards decklist.mtgJsonSideboardCards) as |card|}}
      {{stream-view-card card=card}}
    {{/each}}
  </div>
{{/mtg-loaded}}