{{#main-toolbar}}
  <h2>
    Stream View
  </h2>
{{/main-toolbar}}
{{#mtg-loaded}}
  {{#paper-content class="md-padding"}}
    <div flex layout="row">
      <div flex="50">
        {{decklist-editor}}
      </div>
      <div flex="50">
        <div class="temporary todo">
          <h3>To Do:</h3>
          <ul>
            <li>Right-aligned mana costs</li>
            <li>Mana symbols for mana costs</li>
            <li>Slider to change size (zoom x&y? Just width?)</li>
            <li>Is it worth doing printing selection like for playtest cards?</li>
          </ul>
        </div>
        <div class="stream-view-items">
          {{#each (sort-cards decklist.mtgJsonMaindeckCards) as |card|}}
            {{stream-view-card card=card}}
          {{/each}}
          <br /> {{!-- TODO: Better division --}}
          {{#each (sort-cards decklist.mtgJsonSideboardCards) as |card|}}
            {{stream-view-card card=card}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/paper-content}}
{{/mtg-loaded}}
